.ios, .md {
 
    page-home {
 
        input {
            background-color: map-get($colors, light);
            padding: 10px;
			border: none;
            color: #6c6c6c;
			width: 100%;
        }
 
        ion-label {
            color: #6c6c6c;
        }
 
        button {
            float: right;
            margin-right: 20px;
        }
 
    }
 
}